{{ define "likes"}}
<i class="fa-solid fa-heart like-publication"></i>
<span>{{ .Likes }}</span>
{{ end }}

{{ define "edit" }}
<a href="/edit" style="text-decoration: none;">
    <i class="fa-solid fa-pen-to-square"></i>
</a>
{{ end }}

{{ define "delete" }}
<a href="/delete" style="text-decoration: none;">
    <i class="fa-solid fa-trash text-danger"></i>
</a>
{{ end }}

{{ define "header-publication" }}
    <h1 class="display-4">{{ .Title }}</h1>
    <p class="lead">{{ .Content }}</p>
    <a href="#">{{ .AuthorNick }} - {{ .CreationDate.Format "02/01/2006 3:4" }}</a>
    <hr class="my-4">
{{ end }}

{{ define "publication-with-permission" }}
<div class="bg-light p-5 rounded-lg m-3" data-publication-id="{{ .ID }}">
    {{ template "header-publication" . }}
    <p>
        {{ template "likes" . }}
        {{ template "edit" }}
        {{ template "delete" }}
    </p>
</div>
{{ end }}

{{ define "publication-without-permission" }}
<div class="bg-light p-5 rounded-lg m-3" data-publication-id="{{ .ID }}">
    {{ template "header-publication" . }}
    <p>{{ template "likes" . }}</p>
</div>
{{ end }}